.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 4rem auto;
  gap: 7rem;
  padding: 3rem 0;
  &__heading {
    text-align: center;
    font-size: 4rem;
    width: 35%;
    margin: 0 auto;
    position: relative;
    .underline {
      position: absolute;
      border-bottom: 5px solid var(--color-skyblue);
      width: 10rem;
      top: 110%;
      left: 25%;
      height: 0;
    }
  }
}
.tour-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.tour {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &__display {
    width: 100%;
    height: 35rem;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--heading {
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
      .tour-name {
        font-weight: 900;
      }
      .tour-price {
        color: var(--color-skyblue);
      }
    }
    &--detail {
      font-size: 1.7rem;
      line-height: 1.5;
      color: var(--color-grey);
      .link {
        color: var(--color-skyblue);
        cursor: pointer;
      }
    }
  }
}

.btn {
  border: 2px solid red;
  align-self: center;
  color: red;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0.3rem 5rem;
  border-radius: 4px;
  cursor: pointer;
}
