@mixin respond {
  @if ($breakpoint==tab-land) {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if ($breakpoint==tab-port) {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if ($breakpoint==phone) {
    @media (max-width: 600px) {
      @content;
    }
  }
}
:root {
  --color-skyblue: #49a6e9;
  --color-grey: #617d98;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}
